# Itertools

- `product`
- `starmap`

In [4]:
from itertools import product, starmap

In [5]:
len(list(product([0,1], repeat=5)))

32

## Collections
- `namedtuple`
- `Counter`

In [7]:
from collections import Counter, namedtuple

In [8]:
Counter(list('aaaaabbbcc'))

Counter({'a': 5, 'b': 3, 'c': 2})

In [10]:
# Tuple
peter = tuple(["Peter", "Smith"])

In [17]:
peter[1]

'Smith'

In [11]:
# Named Tuple
Person = namedtuple('Person', 'name,last_name')

In [12]:
john = Person("John", "Smith")

In [13]:
john.name, john.last_name

('John', 'Smith')

In [14]:
from operator import attrgetter as at

In [15]:
at("last_name")(john)

'Smith'

### StarMap

In [24]:
list(starmap(Person, [("Peter", "Smith") , ("John", "Lars")]))

[Person(name='Peter', last_name='Smith'),
 Person(name='John', last_name='Lars')]

In [28]:
[1,2,3] + [*[4,5,6]]

[1, 2, 3, 4, 5, 6]

In [30]:
data = [[1,2,3],[4,5,6]]
list(starmap(lambda x,y,z: x + y+ z, data))

[6, 15]

In [31]:
x = {"a" : 10}
y = {"b" : 20}
{**x, **y}

{'a': 10, 'b': 20}

### Unpacking

Using `*` to convert a collection to a series of elements.
Used when trying to pass individual arguments instead of a list or a dictionary to a function

In [32]:
[1,2,3] + [[3,4,5]]

[1, 2, 3, [3, 4, 5]]

In [33]:
def test_fn(args):
    print(type(args))

In [34]:
test_fn([1,2,3])

<class 'list'>

In [36]:
test_fn(*[1])

<class 'int'>