In [1]:
import numpy as np

In [3]:
4+ np.array([1, 2, 3,4])

array([5, 6, 7, 8])

In [5]:
import pandas as pd
from io import StringIO

In [11]:
data = """
name, last_name, color, age
john, doe, red, 23
jane, smith, blue, 30
mike, brown, green, 45
"""

In [19]:
df = pd.read_csv(StringIO(data))
df

   name  last_name   color   age
0  john        doe     red    23
1  jane      smith    blue    30
2  mike      brown   green    45

In [18]:
df["age"] + 10

KeyError: 'age'

In [17]:
pd.get_dummies(df).astype(int).values.shape

(3, 10)